:root {
    --White: #ffffff;
    --Black: #000000;
    --Purple: #8f3ddb;
    --Red: #ff3232;
    --Blue: #007bff;
    --Green: #c1ffe5;
    --Green2: #00824c;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}

*, *:before, *::after {
    box-sizing: inherit;
}

body {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: 1fr auto;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    background: linear-gradient(180deg, rgba(20,20,134,1) 0%, rgba(27,98,112,1) 100%);     
}

a {
    text-decoration: none;
}

.error {
    color: var(--White);
    background-color: var(--Red);
    padding: 1rem;
    border-radius: .5rem;
    width: 30rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0;
}

.disappear {
    animation: disappear 0.3s ;
}

@keyframes disappear {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.no-margin {
    margin: 0;
}

.margin-bottom {
    padding: .3rem;
}

.display-none {
    display: none;
}

/** Main **/
.container {
    width: min(90%, 120rem);
    margin: 0 auto;
    text-align: center;
}

.title {
    color: var(--White);
    font-size: 4rem;
    border-bottom: 1px solid var(--White);
    display: inline-block;
}

.description {
    font-size: 2.5rem;
    color: var(--White);
    margin-top: 0;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.search-input {
    border: none;
    padding: 1rem;
    border-radius: .5rem;
    width: 30rem;
}

.search-input:focus {
    outline: none;
}

.error-search-input {
    box-shadow: 0px 0px 10px 5px var(--Red);
}

.search-button {
    margin-top: 1.5rem;
    border: none;
    padding: 1rem;
    border-radius: .5rem;
    width: 10rem;
    background-color: var(--Purple);
    color: var(--White);
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out;
}

.search-button:hover {
    background-color: #712eb1;
}

.results {
    margin: 1.5rem auto 1.5rem auto;
    background-color: var(--White);
    border-radius: .5rem;
    padding: 1rem;
    box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.76);
}

.results-title {
    text-transform: uppercase;
    text-decoration: underline;
}

.div-skin {
    background-color: var(--Green);
    border-radius: .5rem;
    border: 1px solid var(--Green2);
    padding: 1rem;
    text-align: left;
    margin: 1rem auto 1rem auto;
}

.info-api {
    padding: .5rem;
    border-bottom: 1px solid var(--Black);
}

.info-skin {
    font-weight: 700;
}

.image-skin {
    background-color: var(--Blue);
    border-radius: .5rem;
    padding: .5rem;
    color: var(--White);
    transition: transform 0.3s ease-in-out;
    display: inline-block;
    font-weight: 700;
}

.image-skin:hover {
    transform: scale(1.1);
}

.image-skin:active {
    transform: scale(0.9);
}

/** PC SCREEN **/
@media screen and (min-width: 768px) {
    .results {
        width: 50%;
    }

    .info-api {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .social-links-container {
        width: 25%;
    }
}


/** Footer **/
.footer {
    backdrop-filter: brightness(30%);
    color: var(--White);
    height: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}

.social-links-container {
    margin: auto auto .5rem auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-links {
    color: var(--White);
    background-color: var(--Purple);
    display: flex;
    padding: .5rem;
    transition: transform 0.3s ease-in-out;
    border-radius: .5rem;
    font-weight: 700;
}

.social-links:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 5px var(--Purple);
}




